## Web Scrapping

In [4]:
import requests

    gathering data from web pages

In [2]:
# http protocol we requests library to get content

In [3]:
url = "https://grras.com/"
page = requests.get(url) # requesting server for data

In [7]:
print(type(page))

<class 'requests.models.Response'>

In [5]:
page.status_code

200

In [6]:
page.headers

{'Date': 'Fri, 19 Jun 2020 07:39:14 GMT', 'Server': 'Apache/2.4.18 (Ubuntu)', 'Cache-Control': 'no-cache', 'Set-Cookie': 'XSRF-TOKEN=eyJpdiI6InpQZXV2VURjZVA1d0ZnZmZta21rS3c9PSIsInZhbHVlIjoiZXhxeGpLRExXODd4MnllbDFDUVdnN3AwYWZiWGhINHFnazBJazdlRlNmQ1dRdjB0S3F1RnBUa0tXcnVmbDYxYnRpeUY5RXlhSmhMYW5aZnhSdklLMmc9PSIsIm1hYyI6IjFmYjdmYTEzNWQ4NTZmZDk2NWJjNzU1ODE1ODk1YjVhODRlYmQxMjc1NDY0MDk4MTg2NDEyODNhYzZjMmMxOTUifQ%3D%3D; expires=Fri, 19-Jun-2020 09:39:14 GMT; Max-Age=7200; path=/, laravel_session=eyJpdiI6Ik9EVmF6STY5eVJLU3J4NjRWbEFtRVE9PSIsInZhbHVlIjoibXg2aHNQYUZQWFdpUk8rWHJvc0krVWZcL0tuUVl0OW9CNmtrU1dGYk1GcXpwRzRDTnMrS1M2a1hWb0I5OXM4TVJVVEVyTjVWVnNISmRzME50dmRNYndRPT0iLCJtYWMiOiJmNTJlOTY0MWZhNWM2Mjk2Zjk5Yjg3Yjg1ZmNmM2I3MTg4YzNhYzBmNGU1OTQ4NzU3Nzc4MWJiYTU1MjVjMjQ1In0%3D; expires=Fri, 19-Jun-2020 09:39:14 GMT; Max-Age=7200; path=/; HttpOnly', 'Vary': 'Accept-Encoding', 'Content-Encoding': 'gzip', 'Referrer-Policy': '', 'Content-Length': '23554', 'Keep-Alive': 'timeout=5, max=100', 'Connection': 'Keep-Alive', 'Content-Type': 'text/html; charset=UTF-8'}

In [8]:
page.cookies

<RequestsCookieJar[Cookie(version=0, name='XSRF-TOKEN', value='eyJpdiI6InpQZXV2VURjZVA1d0ZnZmZta21rS3c9PSIsInZhbHVlIjoiZXhxeGpLRExXODd4MnllbDFDUVdnN3AwYWZiWGhINHFnazBJazdlRlNmQ1dRdjB0S3F1RnBUa0tXcnVmbDYxYnRpeUY5RXlhSmhMYW5aZnhSdklLMmc9PSIsIm1hYyI6IjFmYjdmYTEzNWQ4NTZmZDk2NWJjNzU1ODE1ODk1YjVhODRlYmQxMjc1NDY0MDk4MTg2NDEyODNhYzZjMmMxOTUifQ%3D%3D', port=None, port_specified=False, domain='grras.com', domain_specified=False, domain_initial_dot=False, path='/', path_specified=True, secure=False, expires=1592559554, discard=False, comment=None, comment_url=None, rest={}, rfc2109=False), Cookie(version=0, name='laravel_session', value='eyJpdiI6Ik9EVmF6STY5eVJLU3J4NjRWbEFtRVE9PSIsInZhbHVlIjoibXg2aHNQYUZQWFdpUk8rWHJvc0krVWZcL0tuUVl0OW9CNmtrU1dGYk1GcXpwRzRDTnMrS1M2a1hWb0I5OXM4TVJVVEVyTjVWVnNISmRzME50dmRNYndRPT0iLCJtYWMiOiJmNTJlOTY0MWZhNWM2Mjk2Zjk5Yjg3Yjg1ZmNmM2I3MTg4YzNhYzBmNGU1OTQ4NzU3Nzc4MWJiYTU1MjVjMjQ1In0%3D', port=None, port_specified=False, domain='grras.com', domain_specified=False, domain_initial_dot=False, path='/', path_specified=True, secure=False, expires=1592559554, discard=False, comment=None, comment_url=None, rest={'HttpOnly': None}, rfc2109=False)]>

In [9]:
print(dir(page))

['__attrs__', '__bool__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__nonzero__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setstate__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_content', '_content_consumed', '_next', 'apparent_encoding', 'close', 'connection', 'content', 'cookies', 'elapsed', 'encoding', 'headers', 'history', 'is_permanent_redirect', 'is_redirect', 'iter_content', 'iter_lines', 'json', 'links', 'next', 'ok', 'raise_for_status', 'raw', 'reason', 'request', 'status_code', 'text', 'url']

In [10]:
page.url

'https://grras.com/'

In [11]:
page.encoding

'UTF-8'

In [12]:
page.request

In [13]:
page.request.headers

{'User-Agent': 'python-requests/2.22.0', 'Accept-Encoding': 'gzip, deflate', 'Accept': '*/*', 'Connection': 'keep-alive'}

In [14]:
page.headers['Content-type']

'text/html; charset=UTF-8'

In [29]:
print(page.text[:1000])

<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
      	<title>AWS Cloud, CCNA, RedHat Linux, Data Science Certification & Training Course - GRRAS</title>
      	      	<meta name="keywords" content="CCNA training in Jaipur, CCNA training in Ahmedabad, RedHat Certification in Jaipur, RedHat Certification in Indore, RedHat Certification in Ahmedabad, AWS Cloud Certification in Jaipur, AWS Cloud Certification in Indore, AWS Cloud Certification in Ahmedabad">
        <meta name="description" content="<p>Grras Solutions is one of the best CCNA, Red Hat Linux ( RHCSA & RHCE ) and AWS cloud Certification and training  course provider in Jaipur, Ahmedabad, Indore and Delhi,.100% Job Placement.</p>
">
        <link rel="canonical" href="https://grras.com/" />
        <meta name="classification" content="AWS Cloud, CCNA, RedHat Linux, Data Science Certification &amp; Training Course - GRRAS">

    Serlization or Deserlization - language dependent objects

    Parsing - specific type of object to process information

In [17]:
import re

In [24]:
pat = re.compile('https?://.+"')

In [25]:
urls = re.findall(pat, page.text)

In [27]:
urls[:5]

['https://grras.com/"',
 'https://grras.com"',
 'https://grras.com/files/jevbxpfdxyuc9bevb97h/Grras%20Logo%20white%20116x98px%20-01.png"',
 'https://grras.com"',
 'https://www.google.co.in/"']

### Beautiful Soup

In [28]:
!python -m pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: soupsieve>=1.2 in c:\anaconda3\lib\site-packages (from beautifulsoup4) (1.9.3)

In [30]:
from bs4 import BeautifulSoup

In [32]:
soup = BeautifulSoup(page.text)

In [33]:
print(type(soup))

<class 'bs4.BeautifulSoup'>

In [34]:
soup.img

In [37]:
soup.table

<table class="table text-center table-main">
<tfoot class="hidden-xs">
<tr>
<td style="width:33.333333333333%">
<table class="tables table-bordered text-center" style="width:100%;">
<tbody>
<tr><td>Bundle1</td></tr>
<tr><td>RHCE</td></tr>
<tr><td>RHCA</td></tr>
<tr><td>AWS-CSA</td></tr>
</tbody>
</table>
</td>
<td style="width:33.333333333333%">
<table class="tables table-bordered text-center" style="width:100%;">
<tbody>
<tr><td>Bundle2</td></tr>
<tr><td>RHCE</td></tr>
<tr><td>Python</td></tr>
<tr><td>Machine Learning </td></tr>
</tbody>
</table>
</td>
<td style="width:33.333333333333%">
<table class="tables table-bordered text-center" style="width:100%;">
<tbody>
<tr><td>Bundle3</td></tr>
<tr><td>RHCE</td></tr>
<tr><td>AWS-CSA</td></tr>
<tr><td>DEV-OPS</td></tr>
</tbody>
</table>
</td>
</tr>
</tfoot>
<tbody class="hidden-sm hidden-md hidden-lg">
<tr>
<td style="width:33.333333333333%">
<table class="tables table-bordered text-center" style="width:100%;">
<tbody>
<tr><td>Bundle1</td></tr>
<tr><td>RHCE</td></tr>
<tr><td>RHCA</td></tr>
<tr><td>AWS-CSA</td></tr>
</tbody>
</table>
</td>
<td style="width:33.333333333333%">
<table class="tables table-bordered text-center" style="width:100%;">
<tbody>
<tr><td>Bundle2</td></tr>
<tr><td>RHCE</td></tr>
<tr><td>Python</td></tr>
<tr><td>Machine Learning </td></tr>
</tbody>
</table>
</td>
<td style="width:33.333333333333%">
<table class="tables table-bordered text-center" style="width:100%;">
<tbody>
<tr><td>Bundle3</td></tr>
<tr><td>RHCE</td></tr>
<tr><td>AWS-CSA</td></tr>
<tr><td>DEV-OPS</td></tr>
</tbody>
</table>
</td>
</tr>
<tr>
</tr>
</tbody>
</table>

In [38]:
soup.p

<p> GRRAS- We are leading IT corporation and authorized training and business partners of RedHat &amp; AWS since 2008. We are based out in 12 cities across the nation with hi-tech labs acts as a preparation ground for budding IT aspirants who believe in giving greater heights to their careers.</p>

In [39]:
soup.h1

In [40]:
soup.img

In [43]:
all_imgs = soup.find_all('img')

In [46]:
len(all_imgs)

60

In [48]:
all_imgs[50]

    <img alt='..' class='...' data-original='..' src='..' >

In [49]:
s = "<h1 data='hidden data'> hello world </h1>"

ss = BeautifulSoup(s)

In [50]:
ss.h1

In [52]:
ss.h1.string

' hello world '

In [53]:
ss.h1.text

' hello world '

In [55]:
ss.h1.get('data') # to fetch attributes

'hidden data'

In [56]:
all_imgs[50].text

''

In [57]:
all_imgs[50].get('src')

'https://grras.com/img/placeholder.png'

In [58]:
all_imgs[50].get('data-original')

'https://grras.com/files/4v3xgtn0v5dwhk9cm2m0/Deepak.jpeg?s=178x178'

In [59]:
all_imgs[50].get('alt')

'Deepak Khandelwal'

In [60]:
all_imgs[50].get('class')

['lazy', 'img-responsive']

In [61]:
from IPython.display import Image

In [65]:
Image(url=all_imgs[50].get('data-original'))

    Asses

In [71]:
for img_tag in all_imgs:
    print(img_tag.get('src'), img_tag.get('data-original'), sep='\t|\t')

https://grras.com/files/jevbxpfdxyuc9bevb97h/Grras Logo white 116x98px -01.png?s=71x60	|	None
https://grras.com/files/skv0ivi4efawqcyr5lgc/data science banner.jpg?s=1200x500	|	None
https://grras.com/img/placeholder.png	|	https://grras.com/files/til1jqbwnnnu9swfszjq/home page corporate training (1).jpg?s=500x400
https://grras.com/img/placeholder.png	|	https://grras.com/files/egrecbdivdl3uurqa3yi/home page class training (1).jpg?s=500x400
https://grras.com/img/placeholder.png	|	https://grras.com/files/mzdmnvv3jzautnjqd5j9/home page job oriented.jpg?s=500x400
https://grras.com/img/placeholder.png	|	https://grras.com/files/jfhxiqliwvh0zpgyvqi0/home page internship program (1).jpg?s=500x400
https://grras.com/img/placeholder.png	|	https://grras.com/files/clpkdoqm7f7aegntohvt/AWS Optimized.jpg?s=306x306
img/aero.png	|	None
https://grras.com/img/placeholder.png	|	https://grras.com/files/lfxbbptdtnqkrcibpktr/RedHat optimized.jpg?s=306x306
img/aero.png	|	None
https://grras.com/img/placeholder.png	|	https://grras.com/files/5egjqifogtxheseo0rqy/CCNA optimized.jpg?s=306x306
img/aero.png	|	None
https://grras.com/img/placeholder.png	|	https://grras.com/files/ejzoweksk8uttzf7m9ku/Python optimized.jpg?s=306x306
img/aero.png	|	None
https://grras.com/img/placeholder.png	|	https://grras.com/files/l9y9qppnrn5asg6uyx34/DM.jpg?s=306x306
img/aero.png	|	None
https://grras.com/img/placeholder.png	|	https://grras.com/files/h8kor1quxmfemi1lacgy/docker.jpg?s=306x306
img/aero.png	|	None
https://grras.com/img/placeholder.png	|	https://grras.com/files/wx2pvd5t3qsrdfagdpne/kubernetes.jpg?s=306x306
img/aero.png	|	None
https://grras.com/img/placeholder.png	|	https://grras.com/files/csnpvljbfvypu6m0vl2j/openshift  website page-01.jpg?s=306x306
img/aero.png	|	None
https://grras.com/img/placeholder.png	|	https://grras.com/files/jr4hgseokhpy0oxvf3zq/cyberroam.jpg?s=160x100
https://grras.com/img/placeholder.png	|	https://grras.com/files/9xoqf7pwvcvrelqts6tr/digital-ocean.jpg?s=160x100
https://grras.com/img/placeholder.png	|	https://grras.com/files/zj0s8veg5kkbd8vygswr/makemytrip.jpg?s=160x100
https://grras.com/img/placeholder.png	|	https://grras.com/files/bka5pxiwbqgjbiqfyqh5/genpact.jpg?s=160x100
https://grras.com/img/placeholder.png	|	https://grras.com/files/d6oqluclxhnnv6dpjvxz/redhat.jpg?s=160x100
https://grras.com/img/placeholder.png	|	https://grras.com/files/hpoxyglejns2yq7dkbpd/TCS.jpg?s=160x100
https://grras.com/img/placeholder.png	|	https://grras.com/files/xsutlcsrojns8xghfkwc/sophos.jpg?s=160x100
https://grras.com/img/placeholder.png	|	https://grras.com/files/ux6dvzuwg3rj7p9ktu87/rackspace.jpg?s=160x100
https://grras.com/img/placeholder.png	|	https://grras.com/files/vnnuvkbbdm2v9lsbto3d/knowarth.jpg?s=160x100
https://grras.com/img/placeholder.png	|	https://grras.com/files/knwskuszqowxellzxvza/elitecore.jpg?s=160x100
https://grras.com/img/placeholder.png	|	https://grras.com/files/aondvc6m3nyihjqrtax6/GIP-Technologies.jpg?s=160x100
https://grras.com/img/placeholder.png	|	https://grras.com/files/1mpz0zbqjikaunqs9ntl/mithi-software.jpg?s=160x100
https://grras.com/img/placeholder.png	|	https://grras.com/files/ekzdaw6mfwshvexqeybx/octal-solutions.jpg?s=160x100
https://grras.com/img/placeholder.png	|	https://grras.com/files/g9e8xxlagx47731ty4cq/dotnet-square.jpg?s=160x100
https://grras.com/img/placeholder.png	|	https://grras.com/files/ypft3un8479c5wkn1skf/innoplexus.jpg?s=160x100
https://grras.com/img/placeholder.png	|	https://grras.com/files/7c5nuxikn6s1uqizjjyz/znet-live.jpg?s=160x100
https://grras.com/img/placeholder.png	|	https://grras.com/files/zszavjoqmwhz9a0pc9yz/WIPL.jpg?s=160x100
https://grras.com/img/placeholder.png	|	https://grras.com/files/dhwori1j6vzkynuozxwx/ever-data.jpg?s=160x100
https://grras.com/files/pg8yey3ydvxjxnx4otgb/Kunal Optimize.jpg?s=100x100	|	None
https://grras.com/files/4v3xgtn0v5dwhk9cm2m0/Deepak.jpeg?s=100x100	|	None
https://grras.com/files/gws5ixyl7kiaim39xl26/Rohit optimize.jpg?s=100x100	|	None
https://grras.com/files/bf0qnrcss92on4d2gdyq/Aayush optimize.jpg?s=100x100	|	None
https://grras.com/files/basofvt9cpdbf3s3bvtu/WhatsApp Image 2019-01-01 at 10.40.27 AM.jpeg?s=100x100	|	None
https://grras.com/files/lay8u6n47rrgj14hnfpm/IMG-20190706-WA0018.jpg?s=100x100	|	None
https://grras.com/files/bckrsvi60la8qcpkesny/Screenshot_20190708-142925__01.jpg?s=100x100	|	None
https://grras.com/files/i7vvksvmkgdzxstfgvdr/IMG-20190709-WA0124.jpg?s=100x100	|	None
https://grras.com/files/q4ryn0yudvcoxhbnfg51/Screenshot_20190716-180913.jpg?s=100x100	|	None
https://grras.com/img/placeholder.png	|	https://grras.com/files/pg8yey3ydvxjxnx4otgb/Kunal Optimize.jpg?s=178x178
https://grras.com/img/placeholder.png	|	https://grras.com/files/4v3xgtn0v5dwhk9cm2m0/Deepak.jpeg?s=178x178
https://grras.com/img/placeholder.png	|	https://grras.com/files/gws5ixyl7kiaim39xl26/Rohit optimize.jpg?s=178x178
https://grras.com/img/placeholder.png	|	https://grras.com/files/bf0qnrcss92on4d2gdyq/Aayush optimize.jpg?s=178x178
https://grras.com/img/placeholder.png	|	https://grras.com/files/basofvt9cpdbf3s3bvtu/WhatsApp Image 2019-01-01 at 10.40.27 AM.jpeg?s=178x178
https://grras.com/img/placeholder.png	|	https://grras.com/files/lay8u6n47rrgj14hnfpm/IMG-20190706-WA0018.jpg?s=178x178
https://grras.com/img/placeholder.png	|	https://grras.com/files/bckrsvi60la8qcpkesny/Screenshot_20190708-142925__01.jpg?s=178x178
https://grras.com/img/placeholder.png	|	https://grras.com/files/i7vvksvmkgdzxstfgvdr/IMG-20190709-WA0124.jpg?s=178x178
https://grras.com/img/placeholder.png	|	https://grras.com/files/q4ryn0yudvcoxhbnfg51/Screenshot_20190716-180913.jpg?s=178x178
https://grras.com/files/ddt2vxvaftjs1luefsba/offer.gif	|	None
https://grras.com/files/jevbxpfdxyuc9bevb97h/Grras Logo white 116x98px -01.png?s=60x51	|	None

In [73]:
s  = 'https://grras.com/files/i7vvksvmkgdzxstfgvdr/IMG-20190709-WA0124.jpg?s=178x178'

In [75]:
'lsdjkf'.find('?')

-1

In [74]:
s.find('?')

68

In [82]:
ns = s[:s.find('?')]
ns

'https://grras.com/files/i7vvksvmkgdzxstfgvdr/IMG-20190709-WA0124.jpg'

In [81]:
ns.split('/')[-1].split('.')[-1]

'jpg'

In [83]:
page = requests.get('https://grras.com/files/i7vvksvmkgdzxstfgvdr/IMG-20190709-WA0124.jpg')

In [84]:
page.status_code

200

In [87]:
'image' in page.headers['Content-type']

True

In [88]:
import os
os.mkdir('web_images')

In [107]:
import matplotlib.pyplot as plt
%matplotlib inline
plt.rcParams['figure.dpi'] = 100
for side in ['top', 'bottom', 'left', 'right']:
    plt.rcParams[f'axes.spines.{side}']  = False
    
plt.rcParams['xtick.top'] = False
plt.rcParams['xtick.bottom'] = False 
plt.rcParams['xtick.labeltop'] = False     
plt.rcParams['xtick.labelbottom'] = False

plt.rcParams['ytick.left'] = False
plt.rcParams['ytick.right'] = False 
plt.rcParams['ytick.labelleft'] = False     
plt.rcParams['ytick.labelright'] = False

In [110]:
import requests 
from bs4 import BeautifulSoup
url = "https://grras.com/"
page = requests.get(url) # requesting server for data
soup = BeautifulSoup(page.content)
all_imgs = soup.find_all('img')
def download_image(all_img_tags, show=False, attr='src', dir_path='web_images'):
    for i, img_tag in enumerate(all_img_tags):
        url = img_tag.get(attr)
        if url and url.find('?') != -1:
            url = url[:url.find('?')]
        if url:
            ext = url.split('/')[-1].split('.')[-1]
        if url:
            page = requests.get(url)
            if page.status_code == 200:
                if 'image' in page.headers['Content-type']:
                    path = os.path.join(dir_path, f"image_{i}.{ext}")
                    with open(path, 'wb') as fp:
                        fp.write(page.content)
                        fp.close()
                    if show:
                        im = plt.imread(path)
                        plt.imshow(im)
                        plt.show()
                else:
                    print(f"Error!!Response type is not Image but of type {page.headers['Content-type']}")
            else:
                print(f"Error!!Invalid Response from server {page.status_code}")

In [112]:
download_image(all_imgs, attr='data-original')

In [113]:
url = "https://grras.com/page/ratings-reviews"

In [114]:
data = requests.get(url)

In [115]:
data.status_code

200

In [116]:
data.headers['Content-type']

'text/html; charset=UTF-8'

In [118]:
soup = BeautifulSoup(data.content)

In [125]:
elements = soup.find_all('div', attrs={'class':'recent-rating-box'})

In [127]:
elements[0].find_all('h4')

[<h4 class="media-heading text-p mb-1">Ritik Sharma</h4>,
 <h4 class="mt-0 recent-rating-title">Training Delivery</h4>,
 <h4 class="mt-0 recent-rating-title">Lab Infrastructure</h4>,
 <h4 class="mt-0 recent-rating-title">Guidance</h4>]

In [214]:
names = []
for ele in elements:
    names.append(ele.find_all('h4', {'class':"media-heading text-p mb-1"})[0].text)    
    #print(ele.find_all('h4', {'class':"media-heading text-p mb-1"})[0].text)
print(len(names))

251

In [170]:
c

251

In [146]:
td = 0
lab = 0
guidence = 0
elements[0].find_all('div', {'class':'recent-rating-breakup-stars'})[0]

<div class="recent-rating-breakup-stars">
<i class="fa fa-star ratedStar"></i>
<i class="fa fa-star ratedStar"></i>
<i class="fa fa-star ratedStar"></i>
<i class="fa fa-star ratedStar"></i>
<i class="fa fa-star ratedStar"></i>
</div>

In [150]:
elements[0].find_all('div', {'class':'recent-rating-breakup-stars'})[0].find_all('i')

[<i class="fa fa-star ratedStar"></i>,
 <i class="fa fa-star ratedStar"></i>,
 <i class="fa fa-star ratedStar"></i>,
 <i class="fa fa-star ratedStar"></i>,
 <i class="fa fa-star ratedStar"></i>]

In [152]:
elements[0].find_all('div', {'class':'recent-rating-breakup-stars'})[0].find_all('i')[0].get('class')

['fa', 'fa-star', 'ratedStar']

In [155]:
ratings = [ 0, 0, 0]
for tp in range(3):
    for i in elements[0].find_all('div', {'class':'recent-rating-breakup-stars'})[tp].find_all('i'):
        if 'ratedStar' in i.get('class'):
            ratings[tp] += 1

In [156]:
ratings

[5, 5, 5]

In [193]:
len(elements)

251

In [198]:
elements[0].find_all('div', {'class':'recent-rating-breakup-stars'})

[<div class="recent-rating-breakup-stars">
 <i class="fa fa-star ratedStar"></i>
 <i class="fa fa-star ratedStar"></i>
 <i class="fa fa-star ratedStar"></i>
 <i class="fa fa-star ratedStar"></i>
 <i class="fa fa-star ratedStar"></i>
 </div>, <div class="recent-rating-breakup-stars">
 <i class="fa fa-star ratedStar"></i>
 <i class="fa fa-star ratedStar"></i>
 <i class="fa fa-star ratedStar"></i>
 <i class="fa fa-star ratedStar"></i>
 <i class="fa fa-star ratedStar"></i>
 </div>, <div class="recent-rating-breakup-stars">
 <i class="fa fa-star ratedStar"></i>
 <i class="fa fa-star ratedStar"></i>
 <i class="fa fa-star ratedStar"></i>
 <i class="fa fa-star ratedStar"></i>
 <i class="fa fa-star ratedStar"></i>
 </div>]

In [224]:
total_ratings = []
for element in elements:
    ratings = [ 0, 0, 0]
    for i,ele in enumerate(element.find_all('div', {'class':'recent-rating-breakup-stars'})):
        for i_tag in ele.find_all('i'):
            if 'ratedStar' in i_tag.get('class'):
                ratings[i]+= 1
    #print(ratings)
    total_ratings.append(ratings)

In [225]:
len(total_ratings)

251

In [220]:
total_ratings[0]

[[5], [5], [5]]

In [212]:
reviews = []
for element in elements:
    reviews.append(element.find_all('p', {'class': "recent-rating-text mt-2"})[0].text)

#elements[0].find_all('p', {'class': "recent-rating-text mt-2"})[0].text

In [213]:
len(reviews)

251

In [215]:
len(names)

251

In [227]:
rating = pd.DataFrame(total_ratings, columns=['lab_infra', 'training_delivery', 'guidence'])

In [217]:
lab_infra = []
training_delivery = []
guidence = []

In [ ]:
for rat in total_ratings:
    training_delivery.append(0)

In [216]:
import pandas as pd

In [231]:
df = pd.DataFrame({
    'Name': names,
    'Reviews': reviews,
    'key': [ var for var in range(251)]
})

In [233]:
rating['key'] = [var for var in range(251)]

In [235]:
df.head()

               Name                                            Reviews  key
0      Ritik Sharma  I have a good experience at grras solutions in...    0
1  Niharika Chauhan  It have been wonderful experience with Grras "...    1
2      Megha Sharma  I did the whole course online. It was the firs...    2
3    Shivani Kanwar  Really nice learning with Grras. Best place to...    3
4     Priyanka Jain                                                       4

In [236]:
rating.head()

   lab_infra  training_delivery  guidence  key
0          5                  5         5    0
1          5                  5         5    1
2          5                  5         5    2
3          5                  5         5    3
4          5                  5         5    4

In [238]:
final_data = df.merge(rating)

In [240]:
final_data.drop('key', axis=1, inplace=True)

In [241]:
final_data

,Name,Reviews,lab_infra,training_delivery,guidence
0,Ritik Sharma,I have a good experience at grras solutions in...,5,5,5
1,Niharika Chauhan,"It have been wonderful experience with Grras ""...",5,5,5
2,Megha Sharma,I did the whole course online. It was the firs...,5,5,5
3,Shivani Kanwar,Really nice learning with Grras. Best place to...,5,5,5
4,Priyanka Jain,,5,5,5
...,...,...,...,...,...
246,Dewan Parmar,Good,5,5,5
247,Dewan,Great to join,3,4,4
248,Himanshu Jain,Awesome Faculty and Lab Environment. I Have go...,5,4,5
249,Himanshu Jain,Awesome Faculty and Lab Environment. I Have go...,5,4,5
250,Himanshu Jain,Awesome Faculty and Lab Environment. I Have go...,5,4,5

In [242]:
final_data.to_csv('grras_views.csv')

In [243]:
final_data[final_data['training_delivery'] == 3]

,Name,Reviews,lab_infra,training_delivery,guidence
21,Hitesh chaudhary,"I have completed my RHCSA, RHCE from grras and...",5,3,5
86,Chinmay Sahal,"I had a great experience , teacher are so frie...",3,3,4
94,Ratnesh kumar Rajak,Its a best place in jaipur for traning in web ...,4,3,5
104,Sonika jangir,My experience with grras is very knowledgeable...,3,3,3
130,Mohammed tahir,Fantastic experience learn alot here and facil...,5,3,5
150,Nihar shah,It is a good institute,3,3,3
172,saiyed shoaib,It was a really great experience at grras. Fac...,3,3,4
207,Purujeet Singhal,Guidance is only given when the teacher has a ...,5,3,4
209,Stuti saxena,Great experiences bening part of this trainin...,5,3,5

In [244]:
final_data[final_data['training_delivery'] == 2]

,Name,Reviews,lab_infra,training_delivery,guidence
169,kaushik sorthiya,It was great experience at grass ...faculty an...,3,2,4
171,tushar,i am so much thank for to Grass Solutions . fo...,3,2,3
217,Rupesh Bhosale,Grras solutions is very good for CCNA training.,5,2,5

In [245]:
final_data[final_data['training_delivery'] == 1]

,Name,Reviews,lab_infra,training_delivery,guidence
156,kaushik,bed traning center and not good treachers in g...,1,1,1
157,kaushik,bed traning center....,1,1,1

In [246]:
final_data[final_data['training_delivery'] == 0]

Empty DataFrame
Columns: [Name, Reviews, lab_infra, training_delivery, guidence]
Index: []

#### Regular Expressions